.avatar {
  display: block;
  height: 42px;
  width: 42px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
}
.avatar img {
  height: 100%;
}
.avatar.md {
  height: 75px;
  width: 75px;
}
.avatar.lg {
  height: 100px;
  width: 100px;
}

.list-group.sidebar {
  background: transparent;
}
.list-group.sidebar .list-group-item {
  border-radius: 0.25rem;
  border: none;
  background: transparent;
}
.list-group.sidebar .list-group-item a {
  color: #212529;
  line-height: 15px;
  display: flex;
  align-items: center;
}
.list-group.sidebar .list-group-item p {
  margin: 0;
}
.list-group.sidebar .list-group-item small {
  color: #6c757d;
}
.list-group.sidebar .list-group-item.active {
  background: rgba(13, 110, 253, 0.12);
}
.list-group.sidebar .list-group-item.active a {
  text-decoration: none;
  color: #008cff;
}

html.dark-theme .list-group.sidebar {
  background: transparent;
}
html.dark-theme .list-group.sidebar .list-group-item {
  border-radius: 0.25rem;
  border: none;
  background: transparent;
}
html.dark-theme .list-group.sidebar .list-group-item a {
  color: #ffffffc0;
}
html.dark-theme .list-group.sidebar .list-group-item small {
  color: #ffffff8e;
}
html.dark-theme .list-group.sidebar .list-group-item.active {
  background: rgba(255, 255, 255, 0.18);
}
html.dark-theme .list-group.sidebar .list-group-item.active a {
  text-decoration: none;
  color: #fff;
}

.form-group {
  margin-bottom: 1rem;
}

.input-group label:nth-child(1),
.form-group label:nth-child(1) {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.form-control {
  padding: 0.375rem 0.5rem !important;
}
.form-control:focus {
  box-shadow: none !important;
}

.input-group .input-group-prepend .input-group-text {
  padding: 0.375rem 0 0.375rem 0.5rem;
  background: none;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .input-group-prepend ~ .form-control {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group .input-group-append .input-group-text {
  padding: 0.375rem 0.5rem 0.375rem 0;
  background: none;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group .input-group-append ~ .form-control {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group:focus-within .input-group-text {
  border-color: #86b7fe !important;
}

.input-group-text .lni {
  font-size: 1rem;
  line-height: 1.5;
}

.table thead {
  background: #f9fafb;
}
.table thead th {
  border: none;
  text-transform: uppercase;
  font-size: 0.75rem !important;
  font-weight: 400;
  padding: 1rem;
}
.table thead th:first-child {
  border-top-left-radius: 8px;
}
.table thead th:last-child {
  border-top-right-radius: 8px;
}
.table thead th span:first-child {
  margin-right: 0.5rem;
}
.table tbody tr td {
  border-color: #f2f3f4;
  padding: 0.65rem 1rem;
}
.table tbody tr td:first-child {
  border-left: 1px solid #f2f3f4;
}
.table tbody tr td:last-child {
  border-right: 1px solid #f2f3f4;
}
.table.table-striped > tbody > tr:last-child td {
  border-bottom: 1px solid #f2f3f4;
}
.table.table-striped > tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
.table.table-striped > tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
.table.table-striped > tbody > tr:nth-of-type(odd) {
  background: transparent;
}
.table.table-striped > tbody > tr:nth-of-type(odd) td {
  background: white !important;
}
.table.table-striped > tbody > tr:nth-of-type(even) {
  background: transparent;
}
.table.table-striped > tbody > tr:nth-of-type(even) td {
  background: #f9fafb !important;
}
.table th,
.table td {
  vertical-align: middle;
  font-size: 0.875rem;
}
.table button i,
.table a i {
  font-size: 0.875rem;
}
.table .btn-sm {
  padding: 0.25rem;
}
.table > :not(caption) > * > * {
  border: 0;
}

.page-item .page-link {
  border-color: #e2edff;
  box-shadow: none;
}
.page-item .page-link:hover {
  background-color: #d2e3ff;
}
.page-item.active .page-link {
  color: #078fff;
  background-color: #e2edff;
  border-color: #e2edff;
}
.page-item.disabled .page-link {
  color: #b6cbef;
  border-color: #e2edff;
}

.btn.btn-danger:active,
.btn.btn-danger:focus,
.btn.btn-info:active,
.btn.btn-info:focus,
.btn.btn-light:active,
.btn.btn-light:focus,
.btn.btn-secondary:active,
.btn.btn-secondary:focus,
.btn.btn-dark:active,
.btn.btn-dark:focus,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-warning:active,
.btn.btn-warning:focus,
.btn.btn-success:active,
.btn.btn-success:focus,
.btn.btn-outline-danger:active,
.btn.btn-outline-danger:focus,
.btn.btn-outline-info:active,
.btn.btn-outline-info:focus,
.btn.btn-outline-light:active,
.btn.btn-outline-light:focus,
.btn.btn-outline-secondary:active,
.btn.btn-outline-secondary:focus,
.btn.btn-outline-dark:active,
.btn.btn-outline-dark:focus,
.btn.btn-outline-primary:active,
.btn.btn-outline-primary:focus,
.btn.btn-outline-warning:active,
.btn.btn-outline-warning:focus,
.btn.btn-outline-success:active,
.btn.btn-outline-success:focus {
  box-shadow: none;
}

.delete-modal .modal-content {
  border: none;
}
.delete-modal .modal-header {
  background-color: #fd3550;
}
.delete-modal .modal-header .modal-title {
  color: white;
}
.delete-modal .modal-footer {
  border: none;
}

article.vertical {
  position: relative;
  overflow: hidden;
}
article.vertical figure {
  position: relative;
  display: grid;
  place-content: center;
  padding: 0;
  margin: 0 0 1rem 0;
  border-radius: 8px;
  overflow: hidden;
}
article.vertical figure img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
article.vertical figure .dropdown {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
article.vertical figure .dropdown i {
  font-size: 1rem;
}
article.vertical figure .badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 0.6rem;
}
article.vertical figcaption {
  text-align: left;
  padding: 1rem;
}
article.vertical figcaption .info {
  width: 100%;
  display: flex;
  align-items: center;
}
article.vertical figcaption .info small {
  font-size: 0.675rem;
  color: #676767;
}
article.vertical figcaption .info small.with-icon {
  display: flex;
  align-items: center;
}
article.vertical figcaption .info small.with-icon i {
  font-size: 1rem;
  margin-right: 0.2rem;
}
article.vertical figcaption .info.top {
  justify-content: space-between;
}
article.vertical figcaption .info.bottom {
  justify-content: flex-end;
}
article.vertical figcaption h5 {
  font-size: 1rem;
}
article.vertical figcaption p {
  font-size: 0.875rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.archive:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  pointer-events: none;
  border-radius: 8px;
}
.archive:after {
  position: absolute;
  content: "Diarsipkan";
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffffd7;
  background: #2b2929;
  padding: 0.5rem 1.75rem;
  border-radius: 10px;
  z-index: 3;
}

.trix-button-group {
  border: none !important;
}

.trix-button {
  border: none !important;
}
.trix-button.trix-active {
  background: #f0f0f0 !important;
}
.trix-button.trix-active:before {
  filter: opacity(0.6) !important;
}

.custom-badge {
  max-height: 22px;
  align-self: center;
}

.dropdown-searchable .dropdown-menu.show {
  left: -20px;
  width: 250px;
}
.dropdown-searchable .dropdown-menu.show .dropdown-result {
  max-height: 300px;
  overflow-y: scroll;
}
.dropdown-searchable .dropdown-menu.show .dropdown-result::-webkit-scrollbar {
  width: 5px;
  background: #f9fafb;
  border-radius: 5px;
}
.dropdown-searchable .dropdown-menu.show .dropdown-result::-webkit-scrollbar-thumb {
  background: #eeeeee;
}
.dropdown-searchable .dropdown-menu.show .dropdown-item a {
  padding: 0.25rem 0;
  word-break: break-word;
  white-space: normal;
}
.dropdown-searchable .dropdown-menu.show .dropdown-item:focus, .dropdown-searchable .dropdown-menu.show .dropdown-item:active, .dropdown-searchable .dropdown-menu.show .dropdown-item.active {
  background: #f9fafb;
}

.file-upload {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 2px dashed #e2e2e2;
  padding: 1rem 1.5rem;
}
.file-upload .file-upload-input {
  position: relative;
  height: 80px;
}
.file-upload .file-upload-input input[type=file] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.file-upload .file-upload-input .text {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.file-upload .file-upload-container {
  display: flex;
  flex-wrap: wrap;
}
.file-upload .file-upload-img {
  position: relative;
  margin: 0.25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}
.file-upload .file-upload-img img {
  width: 100%;
  filter: contrast(0.6);
}
.file-upload .remove {
  position: absolute;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  color: #444;
  right: 1rem;
  top: 50%;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.chat-wrapper.for-table {
  height: 100%;
}
.chat-wrapper.for-table .chat-toggle-btn {
  width: unset;
  height: unset;
  line-height: unset;
  margin-right: unset;
  text-align: unset;
  font-size: unset;
  color: unset;
  border-radius: unset;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
.chat-wrapper.for-table .chat-sidebar,
.chat-wrapper.for-table .chat-header,
.chat-wrapper.for-table .chat-footer,
.chat-wrapper.for-table .chat-content {
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.chat-wrapper.for-table .chat-sidebar {
  min-height: 500px;
  width: 0;
  left: 0;
  opacity: 0;
}
.chat-wrapper.for-table .chat-toggle-btn {
  display: block !important;
}
.chat-wrapper.for-table .chat-header,
.chat-wrapper.for-table .chat-footer {
  left: 0;
}
.chat-wrapper.for-table .chat-content {
  height: 100%;
  margin-left: 0;
}
.chat-wrapper.for-table .chat-content .table tbody tr td,
.chat-wrapper.for-table .chat-content .table thead th {
  white-space: nowrap;
}
.chat-wrapper.for-table .chat-footer {
  position: relative;
  height: unset;
}
.chat-wrapper.chat-toggled .chat-sidebar {
  width: 350px;
  opacity: 1;
}

.bg-image {
  margin-bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image.ratio-16-9 {
  padding-top: 54%;
}
.bg-image.full-height {
  height: 100%;
}
.bg-image.full-width {
  width: 100%;
}
.bg-image.p-center-bottom {
  background-position: center bottom;
}
.bg-image.p-center-top {
  background-position: center top;
}
.bg-image.p-center-center {
  background-position: center center;
}
.bg-image.p-left-center {
  background-position: left center;
}
.bg-image.p-left-top {
  background-position: left top;
}
.bg-image.p-left-bottom {
  background-position: left bottom;
}
.bg-image.p-right-center {
  background-position: right center;
}
.bg-image.p-right-bottom {
  background-position: right bottom;
}
.bg-image.p-right-top {
  background-position: right top;
}

.skeleton {
  background-color: white;
  height: auto;
  width: 100%;
  overflow: hidden;
  margin: 12px;
  border-radius: 3px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08) !important;
  padding: 1rem 1.5rem;
}
.skeleton > * {
  border-radius: 8px;
}
.skeleton > *:not(:last-child) {
  margin-bottom: 0.75rem;
}
.skeleton .skeleton-image img {
  width: 100%;
  height: 100%;
}
.skeleton .skeleton-image.loading {
  padding-top: 45%;
  width: 100%;
}
.skeleton .skeleton-chart.loading {
  padding-top: 25%;
  width: 100%;
}
.skeleton .skeleton-title.loading {
  padding-top: 1rem;
  width: 100%;
}
.skeleton .skeleton-description.loading {
  padding-top: 4rem;
  width: 100%;
}

.loading {
  position: relative;
  background-color: var(--bs-light);
  overflow: hidden;
}

.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-animation: 1s loading linear 0.5s infinite;
          animation: 1s loading linear 0.5s infinite;
  background: linear-gradient(90deg, transparent, #ededed, transparent);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
}

.bg-gray-300 {
  background-color: var(--bs-gray-300);
}

.bg-gradient-blue {
  background: linear-gradient(45deg, #3f51b5, #1f5178);
}

.bg-gradient-green {
  background: linear-gradient(45deg, #39a942, #179119);
}

.bg-gradient-dark {
  background: linear-gradient(45deg, #444444, #737373);
}

.bg-gradient-warning {
  background: linear-gradient(45deg, #fdd140, #ffc107);
}
